body {
    text-align: center;
    background-color: #AEDEFC;
}

.master {
    height: 100%;
}

.header-1 {
    height: 10%;
    padding: 10px 0px;
    font-size: 1.5rem;
    background-color: #3D30A2;
    color: white;
    margin-bottom: 5%;
}

.body-1 {
    margin-top: 10%;
    font-size: 1.2rem;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: block;
}

.body-3 {
    margin: auto;
    font-size: 1.2rem;
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: block;
}

.option-btn {
    background-color: #dee0e0;
    border-radius: 5px;
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px auto;
    font-size: 1.4rem;
    display: block;
}

.footer-1 {
    height: 6%;
    padding: 10px 0px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D30A2;
    color: white;
    margin-top: 3.4%;
}

.footer-2 {
    height: 6%;
    padding: 10px 0px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D30A2;
    color: white;
    margin-top: 7.8%;
}

.next {
    display: inline;
    font-size: 1.4rem;
    padding-right: 10px;
    padding-left: 10px;

}

.next-btn {
    background-color: #dee0e0;
    border-radius: 5px;
    width: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px auto;
    font-size: 1.4rem;
    display: inline;
}

.exit-btn {
    background-color: #dee0e0;
    border-radius: 5px;
    width: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px auto;
    font-size: 1.4rem;
    display: block;
}

.input-box {
    border-radius: 5px;
    width: 15%;
    height: 20px;
    padding: 5px 5px;
    margin: 10px auto;
}

.lbl {
    margin-left: 10px;
    margin-right: 10px;
}

.input-field {
    display: block;
}

.cal-btn {
    width: 9.5%;
    /* padding: 5px 8px; */
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    border-radius: 5px;
    background-color: #dee0e0;
}

.result-container {
    width: 150px;
    height: 30px;
    margin: 10px 6px;
    background-color: black;
    color: white;
}

.input-box-2 {
    border-radius: 5px;
    width: 9%;
    height: 20px;
    padding: 5px 5px;
    margin: 10px auto;
    background-color: black;
    color: white;
}


/* form {
    align: center;
} */